{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="services">
    <div class="container">
        <div>
            <h2 class="text-center">RESIDENTIAL DESIGN</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/residential-design.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/portfolio/01-large.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/portfolio/02-large.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
              </div>
        </div>
        <div id="services" >
            <h2 class="text-center">OFFICE DESIGN</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/portfolio/06-large.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/portfolio/07-large.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/portfolio/08-large.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
              </div>
        </div>
        <div id="" >
            <h2 class="text-center">COMERCIAL DESIGN</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/portfolio/05-large.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/portfolio/02-large.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
                <div class="col-xs-12 col-sm-4 service"> <img src="{% static 'img/portfolio/09-large.jpg' %}" class="img-responsive" alt="Project Title">
                  <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam. Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend.</p>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock body %}